In [1]:
int_list = [1,2,3]

In [2]:
mixed_list = [1, 2.0, 'string']

In [3]:
len(int_list)

3

In [4]:
print(int_list[0])  # начало списка=массива
print(int_list[-1]) # конец списка=массива

1
3

In [5]:
int_list[1:] # можно брать часть списка. Например этот взял со 2-го до последнего

[2, 3]

In [6]:
names1 = ['John', 'Bob', 'Alise']
names2 = ['Tracy', 'Elijah', 'Mason', 'Leon']
names_combines = names1 +names2
names_combines

['John', 'Bob', 'Alise', 'Tracy', 'Elijah', 'Mason', 'Leon']

In [7]:
# В отличие от СТРОК = str,  СПИСОК = list является ИЗМЕНЯЕМЫМ   ТИПОМ
names1[0] = 'Liam'   # заменим 1-й элемент 'John'  на  'Liam'
names1

['Liam', 'Bob', 'Alise']

In [8]:
  # для ДОБАВЛЕНИЯ нового элемента в список применяется функция или метод     append - ДОБАВЛЕНИЕ

In [9]:
names1.append('William')
names1.append('James')
names1

['Liam', 'Bob', 'Alise', 'William', 'James']

In [12]:
# Для удаления ПОСЛЕДНЕГО элемента из списка пользуются функцией    pop()    И для ВОЗВРАЩЕНИЯ тоже функция    pop()  
# В  popped    останется  удалённый последний элемент James
# В  names1    останется список, но уже без James

In [11]:
popped = names1.pop()
print(popped)
print(names1)

James
['Liam', 'Bob', 'Alise', 'William']

In [13]:
# МОЖНО удалять и по ИНДЕКСУ и БЕЗ ИНДЕКСА (и в этом случае удаляется последний элемент, как будто  индекс -1)

In [14]:
names1.pop(0)   # здесь удаляем 1-й элемент списка('Liam'), задав индекс  0
names1

['Bob', 'Alise', 'William']

In [17]:
names1.append('James')   # добавили 'James'
names1.sort()            # отсортировали по алфавиту (по возрастанию). Причём не только 1-х символов, а ВСЕХ букв в строчках.
names1

['Alise', 'Bob', 'James', 'James', 'William']

In [18]:
letters = ['ac', 'ab', 'aa']
letters.sort()
print(letters)

['aa', 'ab', 'ac']

In [19]:
# можно  сортировать по КЛЮЧУ,. например по длине строк    (Shift + Tab) - ПОДСКАЗКИ

In [20]:
letters = ['abc', 'a', 'ab']
letters.sort(key=len)
print(letters)

['a', 'ab', 'abc']

In [23]:
numbers = [3,2,8,5,0,3,4,1,1]
print(numbers)
numbers.sort()          # функция  sort  использует алгоритм ТИМ СОРТ, очень быстрый
print(numbers)

[3, 2, 8, 5, 0, 3, 4, 1, 1]
[0, 1, 1, 2, 3, 3, 4, 5, 8]

In [26]:
numbers = [3,2,8,5,0,3,4,1,1]
numbers.reverse()             #  просто переписать список в ОБРАТНОМ порядке (реверсировать)   reverse
numbers

[1, 1, 4, 3, 0, 5, 8, 2, 3]

In [28]:
numbers.sort(reverse=True)  # а это сортировка ПО УБЫВАНИЮ (добавлен аргумент revers = True).  ((Shift + Tab))-подсказка
numbers

[8, 5, 4, 3, 3, 2, 1, 1, 0]

In [29]:
numbers.insert(1,22)        # ВСТАВИТЬ  на место с индексом  1  число  22, т.е. после 8 будет 22
numbers

[8, 22, 5, 4, 3, 3, 2, 1, 1, 0]

In [31]:
numbers.index(5)            # найти число с индексом 5.  Это число 3 в новом списке. А в ичсходном списке это число 2

2

In [33]:
print(numbers.count(3))        # ИЩЕМ, СКОЛЬКО 3(троек) входит в наш список?   ответ: 2(две) тройки в нашем списке

2

In [36]:
copy = numbers.copy()         # Делаем КОПИЮ списка функцией  copy.  ПОВЕРХНОСТНУЮ копию. 
print(copy)                   # т.е. если в списке ИЗМЕНЯЕМЫЙ тип данных, то эти изменения СРАЗУ будут в КОПИИ

[8, 22, 5, 4, 3, 3, 2, 1, 1, 0]

In [37]:
numbers.clear()               #  ОЧИСТКА списка. Функция    clear
numbers

[]